.idea/*
**/*.pyc
backend/supervisord.log
backend/project/settings.py
backend/supervisord.pid
backend/video/*
backend/movie/*
backend/car_pc.db
backend/virt_env/*
frontend/www/lib/*
vagrant/.vagrant/*
vagrant/ssh_keys/robot-public.key
vagrant/ssh_keys/robot-private.key
