.idea/*
**/*.pyc
backend/supervisord.log
backend/project/settings.py
backend/supervisord.pid
backend/video/*
backend/movie/*
backend/car_pc.db
backend/virt_env/*
frontend/www/lib/*
vagrant/blank/.vagrant/*
vagrant/package_builder/.vagrant/*
vagrant/package_builder/ssh_keys/robot-public.key
vagrant/package_builder/ssh_keys/robot-private.key
debian/carpc/opt/carpc/*
debian/carpc/DEBIAN/*