Package: carpc
Version: 0.1
Architecture: amd64
Maintainer: dyus <dyus@soft-way.biz>
Installed-Size: 28
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
