Package: carpc
Depends: nginx streamer vlc python-setuptools npm nodejs git
Version: 0.4
Architecture: amd64
Maintainer: dyus <dyus@soft-way.biz>
Installed-Size: 574
Section: unknown
Priority: optional
Homepage: https://github.com/dyus/car-pc
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
