<div class="row">
    <div class="col-xs-1">
        <a class="btn btn-app btn-lg btn-info" href="#/player/browse/">
            <i class="glyphicon glyphicon-folder-open"></i>
            open
        </a>
    </div>

    <div class="col-xs-1 col-xs-offset-1">
        <button type="button" class="btn btn-app btn-lg btn-light"
                ng-click="player.previous()"
        >
            <i class="glyphicon glyphicon-backward"></i>
            previous
        </button>
    </div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-app btn-lg btn-warning"
                ng-click="player.stop()"
        >
            <i class="glyphicon glyphicon-stop"></i>
            stop
        </button>
    </div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-app btn-lg btn-light"
                ng-click="player.pause()"
        >
            <i class="glyphicon glyphicon-pause"></i>
            pause
        </button>
    </div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-app btn-lg btn-light"
                ng-click="player.next()"
        >
            <i class="glyphicon glyphicon-forward"></i>
            next
        </button>
    </div>
</div>

<div class="list-group">
    <div class="list-group-item"
         ng-class="{'list-group-item-info': item.type =='dir'}"
         ng-repeat="item in playlist"
    >
        <div class="row">
            <div class="col-xs-1">{{ $index + 1 }}.</div>

            <div class="col-xs-10 clickable"
                 ng-click="player.play(item.id)"
            >
                {{ item.name }}
            </div>

            <div class="col-xs-1">{{ item.duration_human }}</div>
        </div>
    </div>
</div>