.btn.btn-app > [class*=icon] {
    display: block;
    font-size: 42px;
    margin: 0 0 4px;
    line-height: 36px;
    min-width: 0;
    padding: 0;
}

.btn.btn-app {
    display: inline-block;
    width: 100px;
    margin: 2px;
    position: relative;
    font-size: 18px;
    font-weight: normal;
    color: #FFF;
    text-align: center;
    text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.2) !important;
    border: none;
    border-radius: 12px;
    padding: 12px 0 8px;
}

.btn-app.btn-primary, .btn-app.btn-primary.no-hover:hover, .btn-app.btn-primary.disabled:hover {
    background: #2a8bcc !important;
    background-color: #2d8ece !important;
    background-image: linear-gradient(to bottom, #3b98d6, #197ec1) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b98d6', endColorstr='#ff197ec1', GradientType=0) !important;
}
.btn-app.btn-purple, .btn-app.btn-purple.no-hover:hover, .btn-app.btn-purple.disabled:hover {
    background: #9889c1 !important;
    background-color: #9b8cc4 !important;
    background-image: linear-gradient(to bottom, #a696ce, #8a7cb4) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa696ce', endColorstr='#ff8a7cb4', GradientType=0) !important;
}
.btn-app.btn-success, .btn-app.btn-success.no-hover:hover, .btn-app.btn-success.disabled:hover {
    background: #86b558 !important;
    background-color: #87b75a !important;
    background-image: linear-gradient(to bottom, #8ebf60, #7daa50) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ebf60', endColorstr='#ff7daa50', GradientType=0) !important;
}
.btn-app.btn-danger, .btn-app.btn-danger.no-hover:hover, .btn-app.btn-danger.disabled:hover {
    background: #d3413b !important;
    background-color: #d3463f !important;
    background-image: linear-gradient(to bottom, #d55b52, #d12723) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd55b52', endColorstr='#ffd12723', GradientType=0) !important;
}
.btn-app.btn-warning, .btn-app.btn-warning.no-hover:hover, .btn-app.btn-warning.disabled:hover {
    background: #ffb44b !important;
    background-color: #ffb650 !important;
    background-image: linear-gradient(to bottom, #ffbf66, #ffa830) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffbf66', endColorstr='#ffffa830', GradientType=0) !important;
}
.btn-app.btn-pink, .btn-app.btn-pink.no-hover:hover, .btn-app.btn-pink.disabled:hover {
    background: #d54c7e !important;
    background-color: #d64f81 !important;
    background-image: linear-gradient(to bottom, #db5e8c, #ce3970) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb5e8c', endColorstr='#ffce3970', GradientType=0) !important;
}
.btn-app.btn-light, .btn-app.btn-light.no-hover:hover, .btn-app.btn-light.disabled:hover {
    background: #ededed !important;
    background-color: #eeeeee !important;
    background-image: linear-gradient(to bottom, #f4f4f4, #e6e6e6) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffe6e6e6', GradientType=0) !important;
}
.btn-app.btn-info, .btn-app.btn-info.no-hover:hover, .btn-app.btn-info.disabled:hover {
    background: #68adde !important;
    background-color: #6baedf !important;
    background-image: linear-gradient(to bottom, #75b5e6, #5ba4d5) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff75b5e6', endColorstr='#ff5ba4d5', GradientType=0) !important;
}
.btn-app.btn-grey, .btn-app.btn-grey.no-hover:hover, .btn-app.btn-grey.disabled:hover {
    background: #797979 !important;
    background-color: #7c7c7c !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff898989', endColorstr='#ff696969', GradientType=0) !important;
}

.btn.btn-app.radius-4 {
    border-radius: 4px;
}


.btn-app.btn-light {
    color: #5a5a5a !important;
    text-shadow: 0 1px 1px #EEE !important;
}
.btn-app.btn-light, .btn-app.btn-light.no-hover:hover, .btn-app.btn-light.disabled:hover {
    background: #ededed !important;
    background-color: #eeeeee !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffe6e6e6', GradientType=0) !important;
}
.btn-app.btn-light, .btn-app.btn-light.no-hover:hover {
border: 2px solid #DDD;
}